*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: rgb(255,250,250);
	font-family: Verdana, Trebuchet,sans-serif;
}
div{	
	border: 1px solid blue;
	text-align: center;
}
.form-control {
	background: #F8F8FF;

}
#CorpoMenu{
	padding: 10px;
}
#CorpoJogo{
	padding: 30px;
}
#GrauDificuldade{
	width: 160px;
	width: 100%;
}
.Colunas{
	height: 100px;
	padding: 5px;
	font-size: 55px;
}
.EscolherXO{
	height: 120px;
	padding: 50px;
	display: none;
}
@media only screen and (max-width: 400px){
	.Colunas{
		height: 80px;
		padding: 5px;
		font-size: 45px;
	}
}